.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-family:Tahoma, Geneva, sans-serif;
  *//font-weight: bold;
  
  
}
.smallcontainer{
  width:200px;
  margin:20px;
}

.centerobjects {
  position: relative;
}

.rightcorner {
  text-align: right;
  margin-bottom: 0px;
  margin-top: 130px;
}

.wrapper > * {
  padding: 15px;
  flex: 1 100%;
}

.header {
  background: lightgrey;
  font-size: 45px;
  text-align: center;
}

img.tumnagel{ 
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height:110px;
    width:140px; 
}

img.Square{ 
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height:110px;
    width:110px; 
}

.widththingy{
  width: 60px;
}
.centerr{
  text-align: center;
  background: lightgrey;
  border: 1px solid black;
}

.pictureview{
  width: 150px;
  margin:30px;
  margin-top: 0px;
}

.pictureview2{
  width: 110px;
  margin:30px;
  margin-top: 0px;
}


.footer {
  background: white;
}

.main {
  text-align: left;
  background: white;
}
.main2 {
  text-align: center;
  background: lightgreen;
}

.aside-1 {
  width:50px;
  border: 1px solid black;
}

.aside-2 {
  background: red;
}

.container {
margin:20px;


}

.confirm {

margin-top: 20px;
margin-left: 40px;


}

.sum {
  margin: 15px;
  text-align: right;
  color: darkred;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 100px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 0em; 
}


.solid {
  border: 1px solid black;
  background: orange;

}

.nomarginleft{
  margin-right: 0px;
}
