
/* Center our content on page */
.centerObjects {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.regularContainer{
margin: 15px;

}


.errorTextBox {
  position:absolute;
z-index:1;
  background:#ffffff;
  width:50%;
  margin-top:30%;
  margin-left:10%;
}

img.img-op {
  position:absolute;
  position:absolute;
  z-index:0;
    height: auto;
    width: 100%;
    opacity: 1;
    vertical-align: middle;
    border-style: none;
}

.header {
  height:100px;
  background:#F0F0F0;
  border:1px solid #CCC;
  font-size: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, serif;

}

.smallTitle {
font-family: Georgia, serif;
font-size: 26px;

margin-bottom: 10px;
margin-top: 10px;

}
.superSmallTitle {
font-family: Georgia, serif;
font-size: 20px;

margin-bottom: 10px;
margin-top: 10px;

}

.imgDetailsView{

  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height:100%;
    width:100%;

}
.headerburger {

margin: 8px;
margin-bottom: 0px;
width: 15px;

}

.imgWelcome{
width: 250px;
margin: 30px;
opacity: 0.5;
}

img.tumnagel{
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height:140px;
    width:100%;
    border-radius:2px;
    border: 1px solid #CCC;


}


/*---------------------*/

.pictureview{
  width: 165px;
  margin:30px;
  margin: 15px;
  border-radius:5px;
}





.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-family:Tahoma, Geneva, sans-serif;
  *//font-weight: bold;


}
.smallcontainer{
  width:200px;
  margin:20px;
}

.centerobjects {
  position: relative;
}

.rightcorner {
  text-align: right;
  margin-bottom: 0px;
  margin-top: 130px;
}

.wrapper > * {
  padding: 15px;
  flex: 1 100%;
}





img.Square{
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height:110px;
    width:110px;
}

.widththingy{
  width: 30px;
}
.centerr{
  text-align: center;
  background: #F0F0F0;
  border: 1px solid #CCC;
}

.centerrr{
  background: #F0F0F0;
  border: 1px solid #CCC;
}



.pictureview2{
  width: 110px;
  margin:30px;
  margin-top: 0px;
}


.footer {
  background: white;
}

.main {
  text-align: left;
  background: white;
}
.main2 {
  text-align: center;
  background: lightgreen;
}

.aside-1 {
  width:50px;
  border: 1px solid #CCC;
}

.aside-2 {
  background: red;
}

.container {
margin:20px;
}

.confirm {

margin-top: 20px;
margin-left: 40px;


}

.sum {
  margin: 15px;
  text-align: right;
  color: darkred;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 100px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 0em;
}


.solid {
  border: 1px solid #CCC;
  border-radius:10px;
}

.orange {
  background: #F0F0F0;
}

.nomarginleft{
  margin-right: 0px;
}











/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -150px 0 0 -150px;
  border: 16px solid #F0F0F0;
  border-radius: 50%;
  border-top: 16px solid #ffc107;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
